
a{
	color: black;
	opacity: 1.5;
}
a:link{
	text-decoration: none;
}
.background {
	background: url(../images/bg.jpg);
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
  	opacity: 0.4;
  	position: fixed;
  	z-index: -9999;
}  
.caption {
	font-family: sans-serif;
	font-weight: bold;
}
#description {
	width: 350px;
	font-weight: normal;
}
#images{
    text-align:center;
    margin:50px auto;
}

#images a{
    margin:0px 20px;
    display:inline-block;
    text-decoration:none;
    color:black;
}
#instructionsView {
	padding-top: 20px;
}
.jumbotron {
	border-radius: 10px;
	background-color: transparent;
	padding-left: 10%
}
.lead {
	font-family: sans-serif;
	font-size: 40px;
	padding-left: 40px;
}
.navbar {
	height: 8%;
	background-color: #660000;
	color: white;
	opacity: 0.6;
}
/* this is for the accordion :
.panel-group .panel-heading {
	font-family: sans-serif;
	color: white;
	font-weight: bolder;
	background-color: #F0AD4E;
}	*/
#searchbar {
	display: block;
	background-color: #FFFF99;
}
.side-container {
	padding: 9px 0;
    left:20px;
    top:60px;
    width:20%;
}
#numGuestsView{
	background-color: #FC6;
}
#sidebarView {
	border-right: inset;
}
.sublead {
	font-size: 20px;
	font-style: italic;
}
.summaryfigure img { 
	display: inline-block; 
	vertical-align: middle; 
}
.text-primary {
	padding-left:100px;	
}
thead {
	text-decoration: bold;
}
#totalCostHeader {
	padding-top: 200px;
}

